<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <title>login</title>
</head>
<body>
<p class="h1">로그인</p>
<hr>
<form action="/login" method="post" th:object="${memberloginform}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
           th:text="${err}">전체 오류 메시지</p>
    </div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">회원 아이디</span>
    <input type="text" class="form-control" id="UserId" th:field="*{UserId}" placeholder="회원 아이디" aria-label="Username" aria-describedby="basic-addon1">
</div>
    <div th:errors="*{UserId}">
        아이디 오류
    </div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">회원 비밀번호</span>
    <input type="password" class="form-control" id="UserPassword" th:field="*{UserPassword}" aria-label="Username" aria-describedby="basic-addon1">
</div>
    <div th:errors="*{UserPassword}">
        비밀번호 오류
    </div>
    <button type="submit">로그인</button>
</form>
    <button onclick="location.href='/'">취소</button>
</body>
</html>